.card {
    background: black !important;
}

.card-body{
    color: rgb(245, 224, 194);
}

section {
    margin: 0 auto;
    margin-top: 2.5%;
    max-width: 1300px;

}
.row {
    margin-left: 0;
    margin-right: 0;
}
.container{
    display: inline;
}

.row {
    padding-bottom: 30px;
}

.col.p-0 p {
    margin: 0 !important;
    padding: 0 !important;
}

.form-control {
    background: gray; 
    border-color: gray;
}

.form-control:hover {
    background-color: rgb(158, 158, 158);
    border-color: rgb(158, 158, 158);
    }
    
.form-control.active {
    background-color: rgb(99, 35, 35);
    }


.table thead th {
    color: rgb(245, 224, 194);
}

.table tbody td {
    color: rgb(245, 224, 194);
}

.accordion-button:hover {
    background: gray;
}


@media (max-width:1300px) {

    section {
        margin: 2.5%;
    }
    
}
